.workspace-basic-container {
    margin-top:2em;
    padding-top: 20px;
    padding-bottom: 70px;
    width: 100%;
}

.workspace-middle-td {
    text-align: center;
    vertical-align: middle !important;
}

.workspace-select {
    width: 100%;
    padding:.4em 1.5em .4em .5em;
    border:1px solid #ccc;
    background: white;
    border-radius:4px;
    -webkit-appearance:none;
    -moz-appearance:none;

    background-image:
            linear-gradient(45deg, transparent 50%, gray 50%),
            linear-gradient(135deg, gray 50%, transparent 50%);
    background-position:
            calc(100% - 20px) calc(1em),
            calc(100% - 15px) calc(1em);
    background-size:
            5px 5px,
            5px 5px;
    background-repeat: no-repeat;
}

.workspace-select::-ms-expand {
    display: none;
}

.workspace-li-none-bullet {
    list-style: none;

}