<div class="modal fade" id="affiliate_uniqueness_modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">업체 특이사항</h4>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group">
                            <label class="control-label">특이사항</label>
                            <div class="col-md-12">
                                <textarea class="form-control" style="width: 100%" rows="10" id="affiliate_uniqueness_modal_textarea"></textarea>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button id="affiliate_uniqueness_modal_close_btn" class="btn btn-default">닫기</button>
                <button id="affiliate_uniqueness_modal_apply_btn" class="btn btn-primary">적용하기</button>
            </div>
        </div>
    </div>
</div>