<div id="affi_intro_modal" class="modal fade bs-modified-modal-sm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-danger">업체한마디</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2">
                        <p class="form-control-static text-right">구분</p>
                    </div>
                    <div class="col-md-9">
                        <select class="workspace-select form-control" id="affi_intro_modal_intro_code" onchange="changeAffiIntroCard(this.value)">
                            <option value="0">직접입력</option>
                            <option value="1">1번 카드내용</option>
                            <option value="2">2번 카드내용</option>
                            <option value="3">3번 카드내용</option>
                            <option value="4">4번 카드내용</option>
                            <option value="5">5번 카드내용</option>
                        </select>

                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        <p class="form-control-static text-right">내용</p>
                    </div>
                    <div class="col-md-9">
                        <textarea class="form-control" id="affi_intro_modal_intro_msg" placeholder="업체한마디를 입력하세요"/></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="saveAffiIntro()">
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>&nbsp;한마디 추가
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>&nbsp;취소
                </button>
            </div>
        </div>
    </div>
</div>
