<div class="modal fade" id="biztalk_retransmit_modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="bizretrans_title_h4">비즈톡 재전송</h4>
            </div>

            <div class="modal-body">

                <div class="row">

                    <div class="col-md-6">
                        <div class="col-md-12" id="bizretrans_modal_code_div" style="padding-bottom: 5px; font-weight: bold"></div>
                        <div class="col-md-12" id="bizretrans_modal_template_div"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12" id="bizretrans_modal_datetime_div" style="margin-bottom: .5em">
                            <label class="control-label">발송날짜</label>
                            <input type="date" class="form-control" data-date-format="YYYY-MM-DD" id="bizretrans_date_input"/>
                            <input type="time" class="form-control" id="bizretrans_time_input"/>

                        </div>

                        <div class="col-md-12" style="margin-bottom: .5em">
                            <label class="control-label">수신번호</label>
                            <input type="tel" class="form-control" id="bizretrans_rec_num_input"/>
                        </div>

                        <div class="col-md-12">
                            <label class="control-label">수정내용</label>
                            <textarea style="width: 100%" rows="20" id="bizretrans_modify_content_textarea"></textarea>

                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button id="bizretrans_close_btn" class="btn btn-default">닫기</button>
                <button id="bizretrans_apply_btn" class="btn btn-primary">적용하기</button>
            </div>
        </div>
    </div>
</div>