<div class="modal fade" id="match050_modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">050 번호 추가 <span id="match050_modal_range_span"></span></h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2">
                        <p class="form-control-static text-right" style="font-weight: bold">050번호</p>
                    </div>
                    <div class="col-md-3">
                        <p class="form-control-static text-right">0503-7961-</p>
                    </div>
                    <div class="col-md-4">
                        <input type="tel" class="form-control" id="match050_modal_number_input" value="" />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="match050_modal_register_btn"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> 번호추가</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> 닫기</button>
            </div>
        </div>
    </div>
</div>