<div class="modal fade" id="sale_loc_modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> 판매/딜리버리 지역 설정</h4>
            </div>

            <div class="modal-body" style="max-height: 700px; overflow-y: auto">

                <div class="row">
                    <div class="col-md-12">
                        <h4>서비스 지역&nbsp;<small><span class="glyphicon glyphicon-chevron-up" id="saloc_service_view_arrow_span" aria-hidden="true" data-view="1" style="cursor: pointer"></span></small></h4>
                    </div>
                    <div class="col-md-12" id="saloc_service_div">
                        <div class="tabbable-panel" style="display: inline-block; width:100%;">
                            <div class="tabbable-line">
                                <ul class="nav nav-tabs" id="saloc_service_sido_tab_ul"></ul>
                            </div>
                            <div style="padding-top: 1em">
                                <div class="col-sm-9" style="padding: 0;">
                                    <ul class="row" style="margin:0; width: 100%;" id="saloc_service_gugun_tab_ul"></ul>
                                </div>
                                <div class="col-sm-3" style="text-align: right;">
                                    <button class="btn btn-info" id="saloc_service_gugun_select_all_button">전체 선택</button>
                                    <button class="btn btn-warning" id="saloc_service_gugun_deselect_all_button">전체 해제</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h4>딜리버리 지역&nbsp;<small><span class="glyphicon glyphicon-chevron-up" id="saloc_delivery_view_arrow_span" aria-hidden="true" data-view="1" style="cursor: pointer"></span></small></h4>
                   </div>
                    <div class="col-md-12" id="saloc_delivery_div">
                        <div class="tabbable-panel" style="display: inline-block; width:100%;">
                            <div class="tabbable-line">
                                <ul class="nav nav-tabs" id="saloc_delivery_sido_tab_ul"></ul>
                            </div>
                            <div style="padding-top: 1em">
                                <div class="col-sm-10" style="padding: 0;">
                                    <div class="col-sm-3" id="saloc_delivery_selected_gugun_inventory_div">

                                    </div>
                                    <div class="col-sm-9">
                                        <h5 id="saloc_delivery_gugun_header" style="padding-left: 2em"></h5>
                                        <ul class="row" style="margin:0; width: 100%;" id="saloc_delivery_gugun_tab_ul"></ul>
                                    </div>

                                </div>
                                <div class="col-sm-2" >
                                    <button class="btn btn-info" id="saloc_delivery_gugun_select_all_button" style="margin-bottom: .5em">전체 선택</button><br>
                                    <button class="btn btn-warning" id="saloc_delivery_gugun_deselect_all_button">전체 해제</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="saloc_ok_button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> 확인</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> 닫기</button>
            </div>
        </div>
    </div>
</div>