<div class="modal fade" id="search_affiliate_modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">업체찾기</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2">
                        <select class="workspace-select" id="search_affiliate_modal_search_type_select">
                            <option value="1">파트너스업체</option>
                            <option value="2">API 업체</option>
                        </select>
                    </div>
                    <div class="col-md-10">
                        <div class=" input-group">
                            <input type="text" class="form-control" id="search_affiliate_modal_search_input" placeholder="업체명 검색" />
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" id="search_affiliate_modal_search_btn"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row" id="search_affiliate_modal_container" style="padding: 1em; display: none">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="info">
                                <th>업체명</th>
                                <th>업체주소</th>
                                <th>업체연락처</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="search_affiliate_modal_tbody"></tbody>
                    </table>
                </div>

                <div class="row" id="search_affiliate_modal_empty_container" style="padding: 1em">
                    <div class="col-md-offset-2 col-md-8 text-center" style="font-weight: bold">검색결과가 없습니다.<br>업체명을 다시 검색해주세요</div>
                </div>

            </div>

            <div class="modal-footer">
                <button id="" class="btn btn-default" onclick="closeSearchAffiliateModal()">닫기</button>
            </div>
        </div>
    </div>
</div>