<div class="modal fade" id="search_address_modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">주소찾기</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <div class="input-group">
                        <input id="search_address_modal_search_input" type="text" class="form-control" placeholder="주소를 입력하세요.">
                        <span class="input-group-btn">
                            <button id="search_address_modal_search_btn" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
						</span>
                    </div>
                </div>
                <div id="search_address_modal_result_container" style="display:none; max-height: 400px; overflow-y: auto">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="info">
                                <th class="text-center">이름</th>
                                <th class="text-center">도로명 주소</th>
                                <th class="text-center">지번 주소</th>
                                <th class="text-center">자세히보기</th>
                            </tr>
                        </thead>
                        <tbody id="search_address_modal_result_tbody">
                        </tbody>
                    </table>

                    <div class="text-center" id="search_address_modal_paging_wrapper"></div>
                </div>

                <div id="search_address_modal_empty_container" class="center-align-outer text-center" style="display:none; margin:20px 0; font-size:15px; height:100px;">
                    <div class="center-align-inner">
                        검색 결과가 없습니다.
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button id="search_address_modal_close_btn" class="btn btn-default" onclick="closeSearchAddressModal()">닫기</button>
                <button id="search_address_modal_ok_btn" class="btn btn-primary" onclick="selectSamSearchResultRow()">확인</button>
            </div>
        </div>
    </div>
</div>