<div class="modal fade" id="special_location_modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> 주요지역 설정하기</h4>
            </div>

            <div class="modal-body" style="max-height: 700px; overflow-y: auto">

                <div class="row">
                    <div class="col-md-12">
                        <div class="tabbable-panel" style="display: inline-block; width:100%;">
                            <div class="tabbable-line">
                                <ul class="nav nav-tabs">
                                    <li><a class="slm-location-tab-a" data-toggle="tab" data-location-type="airport" id="slm_airport_tab" style="cursor: pointer">공항</a></li>
                                    <li><a class="slm-location-tab-a" data-toggle="tab" data-location-type="ktx" style="cursor: pointer">KTX</a></li>
                                    <li><a class="slm-location-tab-a" data-toggle="tab" data-location-type="srt" style="cursor: pointer">SRT</a></li>
                                    <li><a class="slm-location-tab-a" data-toggle="tab" data-location-type="bus_terminal" style="cursor: pointer">버스터미널</a></li>
                                    <li><a class="slm-location-tab-a" data-toggle="tab" data-location-type="area" style="cursor: pointer">지역</a></li>
                                </ul>
                            </div>
                            <div style="padding-top: 1em">
                                <div class="col-sm-12" style="padding: 0;">
                                    <ul class="row" style="margin:0; width: 100%" id="slm_location_ul"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="slm_ok_button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> 확인</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> 닫기</button>
            </div>
        </div>
    </div>
</div>